@use "../../variables";


.detailPage {
  padding-top: 150px;
  padding-bottom: 160px;
  &.recommend {
    .group {
      text-align: center;
    }
  }
}

.content {
  margin-bottom: 32px;
  .date {
    display: block;
    color: var(--color-base-dark);
    font-size: 1.125rem;
    margin-bottom: 8px;
    @include variables.mq(sp) {
      font-size: 1rem;
    }
  }
  .title {
    font-size: 2rem;
    line-height: 1.5;
    @include variables.mq(sp) {
      font-size: 1.5rem;
    }
  }
  .subtitle {
    font-size: 1.125rem;
    margin-top: 16px;
    line-height: 1.5;
    @include variables.mq(sp) {
      margin-top: 12px;
      font-size: 1rem;
    }
  }
  .info {
    margin-top: 32px;
  }
  .image {
    margin-top: 64px;
    margin-bottom: 64px;
    clip-path: url(#clip);
    @include variables.mq(sp) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 507 / 338;
    }
  }
}

.contentFooter {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  .likeGroup {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 4px;
    .likeNum {
      font-size: 14px;
    }
  }
}


.link {
  margin-top: 120px;
  text-align: center;
  @include variables.mq(sp) {
    margin-top: 80px;
  }
}

//animations

.content {
  opacity: 0;
  transition: opacity 1.5s;
  [class*="is-active"] & {
    opacity: 1;
  }
}