@use "../../variables";
@use "../../keyframes";

.message {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
}

.messageGroup {
  text-align: center;
  display: grid;
  row-gap: 40px;
  @include variables.mq(sp) {
    row-gap: 24px;
  }
  .ja {
    font-size: 2rem;
    letter-spacing: .16em;
    @include variables.mq(sp) {
      font-size: max(4dvw, .875rem);
    }
  }
  .en {
    font-size: 1rem;
    color: var(--color-base-dark);
    line-height: 1.5;
    @include variables.mq(sp) {
      font-size: max(.9dvw, .625rem);
    }
  }
}

.bubble {
  position: absolute;
  right: var(--margin-small);
  bottom: 0;
  transform: scaleX(-1);
  width: min(14dvw, 107px);
  animation: infinite float02 2s both alternate ease-in-out;
}

//animations

.messageGroup {
  transition: transform 1s cubic-bezier(0, 0.55, 0.45, 1);
  .ja {
    span {
      display: inline-block;
      transform: translateY(50%) rotate(10deg);
      opacity: 0;
      transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 1s;
    }
  }
  .en {
    opacity: 0;
    transform: translateY(16px);
    transition: transform .5s .5s, opacity .5s .5s;
  }
  [class*="is-active"] & {
    .ja {
      span {
        transform: translateY(0) rotate(0);
        opacity: 1;
      }
    }
    .en {
      transform: translateY(0);
      opacity: 1;
    }
  }
}