@use "../../variables";
@use "../../keyframes";

.mainvisual {
  position: relative;
  height: 100dvh;
}

.content {
  height: 100%;
  display: grid;
  place-items: center;
}

.copyGroup {
  position: relative;
  display: grid;
  row-gap: 24px;
  width: 100%;
  overflow-x: hidden;
  @include variables.mq(sp) {
    row-gap: 16px;
  }
  .copy {
    .inner {
      display: grid;
      grid-template-columns: auto auto;
    }
    img {
      width: auto;
      max-width: none;
      display: block;
      @include variables.mq(sp) {
        height: 6vh;
      }
      @include variables.mq(tab) {
        height: 8vh;
      }
      @include variables.mq(pc) {
        height: 10vh;
      }
    }
  }
  .copy01 {
    img {
      position: relative;
      left: -10%;
    }
  }
  .copy03 {
    img {
      position: relative;
      left: -6%;
    }
  }
}

.bottomCopy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .bottomCopyGroup {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 40px;
    @include variables.mq(sp) {
      padding-bottom: 16px;
    }
    .more {
      font-size: .75rem;
      line-height: 1.1;
      transform-origin: left bottom;
      transform: rotate(-90deg) translateY(100%);
      padding-left: .75em;
      > span {
        font-weight: bold;
      }
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        right: 100%;
        display: block;
        width: 64px;
        height: 1.5px;
        background-color: var(--color-text);
        animation: more-expansion 2s ease-in-out infinite;
      }
    }
    .subcopy {
      font-size: 1.125rem;
      padding-bottom: 40px;
      @include variables.mq(sp) {
        font-size: .875rem;
        padding-bottom: 0;
      }
      > span {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }
}

.bubble {
  position: absolute;
  bottom: -40px;
  left: calc(110 / 1920 * 100%);
  width: min(14dvw, 174px);
  @include variables.mq(sp) {
    bottom: -15px;
  }
}

// animations

.copyGroup {
  .copy01 {
    img {
      animation :infinity-scroll-right 70s infinite linear 0.5s both;
    }
  }
  .copy02 {
    img {
      animation :infinity-scroll-left 80s infinite linear 0.5s both;
    }
  }
  .copy03 {
    img {
      animation :infinity-scroll-right 110s infinite linear 0.5s both;
    }
  }
}

.copyGroup {
  .copy {
    overflow: hidden;
    .inner {
      transition: transform 2s cubic-bezier(0.87, 0, 0.13, 1);
    }
  }
  .copy01 {
    .inner {
      transform: translateY(100%) rotate(4deg);
      transform-origin: left top;
    }
  }
  .copy02 {
    .inner {
      transform: translateY(100%) rotate(-4deg);
      transform-origin: right top;
    }
  }
  .copy03 {
    .inner {
      transform: translateY(100%) rotate(4deg);
      transform-origin: left top;
    }
  }
  [class*="is-ready"] & {
    .copy {
      .inner {
        transform: translateY(0) rotate(0);
      }
    }
  }
}

.bottomCopyGroup {
  .more {
    &::before {
      animation: more-expansion 2s ease-in-out infinite;
    }
  }
}

.bubble {
  animation: infinite float01 2s 1s both alternate ease-in-out;
}