@use "../../variables";
@use "../../keyframes";

.post {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  &[class*="nippo"] {
    padding-bottom: 160px;
  }
  @include variables.mq(sp) {
    &[class*="recommend"] {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.post {
  &[class*="recommend"] {
    .bubble {
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: scaleX(-1);
      width: min(10dvw, 74px);
      animation: infinite float02 2s both alternate ease-in-out;
      @include variables.mq(sp) {
        bottom: -20dvw;
      }
    }
  }
  &[class*="nippo"] {
    .bubble {
      position: absolute;
      left: var(--margin-small);
      bottom: 80px;
      width: min(10dvw, 57px);
      animation: infinite float01 2s both alternate ease-in-out;
    }
  }
}

.sliderOuter {
  overflow-x: hidden;
}

.titleGroup {
  margin-bottom: 80px;
  @include variables.mq(sp) {
    margin-bottom: 56px;
  }
  .shoulder {
    color: var(--color-base-dark);
    font-size: 1.125rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    padding-left: 8px;
    @include variables.mq(sp) {
      font-size: .875rem;
    }
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-base-dark);
      display: block;
    }
  }
  .title {
    font-size: clamp(3.75rem, 10dvw, 10rem);
    font-weight: 400;
    letter-spacing: -.04em;
    line-height: 1;
    .outline {
      color: var(--color-base);
      text-shadow:
        1.2px 1.2px 0 var(--color-text), -1.2px -1.2px 0 var(--color-text),
        -1.2px 1.2px 0 var(--color-text), 1.2px -1.2px 0 var(--color-text),
        0px 1.2px 0 var(--color-text),  0 -1.2px 0 var(--color-text),
        -1.2px 0 0 var(--color-text), 1.2px 0 0 var(--color-text);
      @include variables.mq(sp) {
        text-shadow:
          0.5px 0.5px 0 var(--color-text), -0.5px -0.5px 0 var(--color-text),
          -0.5px 0.5px 0 var(--color-text), 0.5px -0.5px 0 var(--color-text),
          0px 0.5px 0 var(--color-text),  0 -0.5px 0 var(--color-text),
          -0.5px 0 0 var(--color-text), 0.5px 0 0 var(--color-text);
      }
    }
  }
}

.link {
  text-align: right;
  margin-top: 80px;
  @include variables.mq(sp) {
    text-align: center;
    margin-top: 64px;
  }
}

//animation

.post {
  opacity: 0;
  transform: translateY(80px);
  transition: 1s;
  &[class*="is-active"] {
    opacity: 1;
    transform: translateY(0);
  }
}

.titleGroup {
  .title {
    transition: transform 10s cubic-bezier(0, 0.55, 0.45, 1);
    span:not(.outline){
      opacity: 0;
      transition: opacity 1s;
    }
  }
  [class*="is-active"] & {
    .title {
      span:not(.outline){
        opacity: 1;
      }
    }
  }
}