@use "../../variables";

.mainvisual {
  position: relative;
  height: 100dvh;
}

.content {
  height: 100%;
  display: grid;
  place-items: center;
}

.copyGroup {
  position: relative;
  display: grid;
  row-gap: 24px;
  width: 100%;
  overflow-x: hidden;
  @include variables.mq(sp) {
    row-gap: 16px;
  }
  .copy {
    img {
      width: auto;
      max-width: none;
      display: block;
      @include variables.mq(sp) {
        height: 6vh;
      }
      @include variables.mq(tab) {
        height: 8vh;
      }
      @include variables.mq(pc) {
        height: 10vh;
      }
    }
  }
  .copy01 {
    img {
      position: relative;
      left: -10%;
    }
  }
  .copy03 {
    img {
      position: relative;
      left: -6%;
    }
  }
}

.bottomCopy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .bottomCopyGroup {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 40px;
    @include variables.mq(sp) {
      padding-bottom: 16px;
    }
    .more {
      font-size: .75rem;
      line-height: 1.1;
      transform-origin: left bottom;
      transform: rotate(-90deg) translateY(100%);
      > span {
        font-weight: bold;
      }
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--color-text);
        margin-right: 6px;
      }
    }
    .subcopy {
      font-size: 1.125rem;
      padding-bottom: 40px;
      @include variables.mq(sp) {
        font-size: .875rem;
        padding-bottom: 0;
      }
      > span {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }
}

.bubble {
  position: absolute;
  bottom: -40px;
  left: calc(110 / 1920 * 100%);
  width: min(14dvw, 174px);
  @include variables.mq(sp) {
    bottom: -15px;
  }
}