@use "../../variables";


.footer {
  background-color: var(--color-text);
  background-image: url("/common/bg-noise.png");
  padding-bottom: 24px;
}

.bgLogo {
  overflow: hidden;
  img {
    width: 80%;
    transform: translateY(-1px);
    @include variables.mq(sp) {
      width: 100%;
    }
  }
}

.top {
  margin: 24px 0 240px;
  @include variables.mq(sp) {
    margin: 8px 0 160px;
  }
}

.bottom {
  display: grid;
  justify-content: end;
  row-gap: 12px;
  @include variables.mq(sp) {
    row-gap: 8px;
  }
}

.message {
  color: var(--color-base-dark);
  font-size: 1.125rem;
  @include variables.mq(sp) {
    font-size: 1rem;
  }
}

.logoGroup {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  column-gap: 32px;
  @include variables.mq(sp) {
    column-gap: 24px;
  }
  img {
    width: 80px;
    height: auto;
    @include variables.mq(sp) {
      width: 64px;
    }
  }
}

.about {
  text-align: right;
  a {
    color: var(--color-text-gray);
    font-size: .875rem;
    text-decoration: underline;
    transition: opacity .4s;
    &:hover {
      opacity: .7;
    }
    @include variables.mq(sp) {
      font-size: .75rem;
    }
  }
}

.copyright {
  color: var(--color-text-gray);
  font-size: .75rem;
  letter-spacing: .04em;
  @include variables.mq(sp) {
    font-size: .625rem;
  }
}

//animations

.bgLogo {
  img {
    transform: translateY(-100%);
    transition: transform 1.25s cubic-bezier(0.87, 0, 0.13, 1);
  }
  [class*="is-active"] & {
    img {
      transform: translateY(0);
    }
  }
}