@use "../../variables";

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @include variables.mq(sp) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
  }
  img {
    width: 212px;
    height: auto;
    display: block;
    @include variables.mq(sp) {
      width: 144px;
    }
  }
}

.nav {
  font-family: var(--font-playfairDisplay);
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: -.04em;
  line-height: 1;
  li + li {
    margin-top: 16px;
  }
}

//animations

.header {
  opacity: 0;
  transition: opacity 1s;
  &[class*="is-active"] {
    opacity: 1;
  }
}