@use "../../variables";

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @include variables.mq(sp) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
  }
  img {
    width: 212px;
    height: auto;
    display: block;
    @include variables.mq(sp) {
      width: 144px;
    }
  }
}

.nav {
  font-family: var(--font-playfairDisplay);
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: -.04em;
  line-height: 1;
  li + li {
    margin-top: 12px;
  }
  li {
    a {
      position: relative;
      overflow: hidden;
      display: inline-block;
      height: calc(20em / 18);
      span {
        display: inline-block;
        transition: transform .4s cubic-bezier(0.87, 0, 0.13, 1);
        &::before {
          color: var(--color-base-dark);
          content:attr(data-menu);
          position: absolute;
          left: 0;
          top: 1.125rem;
          transform: skewY(40deg);
          transform-origin: left top;
          transition: transform .4s cubic-bezier(0.87, 0, 0.13, 1);
        }
      }
      &:hover {
        span {
          transform: translateY(calc(-100% - 2px));
          &::before {
            transform: skewY(0);
          }
        }
      }
    }
  }
}

//animations

.header {
  opacity: 0;
  transition: opacity 1s;
  &[class*="is-active"] {
    opacity: 1;
  }
}