@use "../variables";

.content {
  position: relative;
  z-index: 1;
  height: 100svh;
  text-align: center;
  display: grid;
  place-content: center;
  margin-top: 80px;
}

.title {
  margin-bottom: 16px;
  justify-self: center;
  transform: rotate(-3deg);
  @include variables.mq(sp) {
    width: 50%;
  }
}

.message {
  margin-bottom: 40px;
}

.content [class*="Button"] {
  justify-self: center;
}

@keyframes float01 {
  from {
    transform: translateY(0) rotate(3deg);
  }
  to {
    transform: translateY(-12px) rotate(-3deg);
  }
}
@keyframes float02 {
  from {
    transform: translateY(0) rotate(-12deg);
  }
  to {
    transform: translateY(-16px) rotate(3deg);
  }
}

.el1 {
  animation: infinite float01 3s both alternate ease-in-out;
  transform-origin: center;
  stroke-dashoffset: 1052.0714111328125px;
  stroke-dasharray: 1052.0714111328125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

[class*="is-active"] .el1 {
  stroke-dashoffset: 0;
  fill: rgb(34, 34, 34);
}

.el2 {
  animation: infinite float02 2.5s both alternate-reverse ease-in-out;
  transform-origin: center;
  stroke-dashoffset: 878.986328125px;
  stroke-dasharray: 878.986328125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

[class*="is-active"] .el2 {
  stroke-dashoffset: 0;
}

.el3 {
  animation: infinite float01 4s both alternate ease-in-out;
  transform-origin: center;
  stroke-dashoffset: 1052.0693359375px;
  stroke-dasharray: 1052.0693359375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

[class*="is-active"] .el3 {
  stroke-dashoffset: 0;
  fill: rgb(34, 34, 34);
}