@use "./include/variables";

:root {
  --color-base: #FFE349;
  --color-base-dark: #947D00;
  --color-text: #222222;
  --z-index-header: 50;
}

* {
  box-sizing: border-box;
}

/* html {
  
} */

body {
  color: var(--color-text);
  background-color: var(--color-base);
  margin: 0;
  padding: 0;
  line-height: 2;
  letter-spacing: .08em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.commonContainer {
  padding-left: calc(80 / 1920 * 100%);
  padding-right: calc(80 / 1920 * 100%);
  @include variables.mq(sp) {
    padding-left: 16px;
    padding-right: 16px;
  }
}