@use "../../variables";

.headingContent {
  padding-bottom: 60px;
  @include variables.mq(sp) {
    padding-bottom: 40px;
  }
  .heading {
    text-align: center;
    font-weight: 400;
    line-height: 1;
    font-size: clamp(1.5rem,10dvw,4.5rem);
    letter-spacing: -.04em;
    margin-bottom: 1rem;
    .outline {
      color: #fff;
      text-shadow:
        1px 1px 0 var(--color-text), -1px -1px 0 var(--color-text),
        -1px 1px 0 var(--color-text), 1px -1px 0 var(--color-text),
        0px 1px 0 var(--color-text),  0 -1px 0 var(--color-text),
        -1px 0 0 var(--color-text), 1px 0 0 var(--color-text);
      @include variables.mq(sp) {
        text-shadow:
          0.5px 0.5px 0 var(--color-text), -0.5px -0.5px 0 var(--color-text),
          -0.5px 0.5px 0 var(--color-text), 0.5px -0.5px 0 var(--color-text),
          0px 0.5px 0 var(--color-text),  0 -0.5px 0 var(--color-text),
          -0.5px 0 0 var(--color-text), 0.5px 0 0 var(--color-text);
      }
    }
  }
  
  .headingJa {
    color: var(--color-base-dark);
    text-align: center;
    letter-spacing: .12em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    @include variables.mq(sp) {
      font-size: .875rem;
    }
  }
}

//animations

.heading {
  span:not(.outline){
    opacity: 0;
    transition: opacity 1s;
  }
  [class*="is-active"] & {
    span:not(.outline){
      opacity: 1;
    }
  }
}